<div class="d-flex mt-2 mb-2">
  <div class="img-container" appExpandImage>
    <img [src]="message.UrlImage" class="img-user" (click)="emitExpandImage()">
  </div>
  <label class="name-user">{{ message.NomeUser }}</label>
</div>
<div class="d-flex pb-2 align-items-end">
  <div class="col-9 col-md-11">
    <label class="label-mensagem" [innerHTML]="message.Content"></label> <br>
  </div>
  <div class="col-3 col-md-1 text-end p-0">
     <label class="hora-envio"> {{ message.Horario }} <i class="bi bi-check-all check-envio"></i></label>
  </div>
</div>
