<div class="container">
  <div class="row mt-2">
    <div class="col-12">
      <h1>Chatzin</h1>
      <div class="col-12 text-end img-perfil-chat">
        <strong><label class="name-user-page">{{ nomeUser }} </label></strong>
        <img [src]="urlImage" (click)="emDesenvolvimento()" class="img-user-page" alt="" tooltip="Editar foto de perfil">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <h5>Chat Geral:</h5>
    </div>
  </div>
  <div class="row mt-3 messages-container">
    <div class="col-12" #messagesContainer>
      <div *ngFor="let message of messages">
        <div *ngIf="message.Owner === false">
          <div class="col-10">
            <div class="card-message">
              <label class="label-mensagem" [innerHTML]="message.Content"></label> <br>
              <div class="d-flex mt-2 mb-2">
                <div class="img-container" appExpandImage>
                  <img [src]="message.UrlImage" class="img-user" alt="" [tooltip]="textExpandir" (click)="clicouExpandirImagem()">
                </div>
                <label class="name-user">{{ message.NomeUser }}</label>
                <div class="ms-auto">
                  <label class="hora-envio"><i class="bi bi-clock"></i> {{ message.Horario }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="message.Owner === true">
          <div class="col-12 d-flex">
            <div class="col-2">
            </div>
            <div class="col-10">
              <div class="card-owner-message">
                <label class="label-mensagem" [innerHTML]="message.Content"></label> <br>
                <div class="d-flex mt-2 mb-2">
                  <div class="img-container" appExpandImage>
                    <img [src]="message.UrlImage" class="img-user" alt="" [tooltip]="textExpandir" (click)="clicouExpandirImagem()">
                  </div>
                  <label class="name-user">{{ message.NomeUser }}</label>
                  <div class="ms-auto">
                    <label class="hora-envio"><i class="bi bi-clock"></i> {{ message.Horario }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <form [formGroup]="messageForm">
    <div class="col-12 d-flex">

      <div class="col-9">
        <input
          placeholder="Digite aqui e aperte Enter para enviar" name="" id=""
          class="form-control input-message"
          (keydown.enter)="sendMessage()" maxlength="1000"
          [disabled]="disabledSendMessage"
          formControlName="Content" />
      </div>
      <div class="col-3 d-flex">
        <button (click)="sendMessage()" class="btn btn-send" tooltip="Enviar mensagem" [disabled]="messageForm.invalid"><i class="bi bi-send"></i></button>

        <div class="d-none d-md-block">
          <button (click)="adicionarImagemChat()" class="btn btn-send" tooltip="Enviar Gif ou Foto"><i class="bi bi-filetype-gif"></i></button>
          <button (click)="adicionarLinkChat()" class="btn btn-send" tooltip="Enviar Link"><i class="bi bi-link-45deg"></i></button>
          <!-- <button (click)="emDesenvolvimento()" class="btn btn-send"  tooltip="Abrir configurações"><i class="bi bi-gear"></i></button> -->
        </div>
      </div>
      <a href="" ></a>
    </div>
  </form>
  </div>

  <img src="" class="img-chat">

  <!-- <div class="row mt-5">
    <h5>Users</h5>

    <div class="col-12 mb-5">
      <label> <i class="bi bi-person-fill-check"></i> Pedrin</label> <br>
      <label> <i class="bi bi-person-fill-check"></i> Biel</label> <br>
      <label> <i class="bi bi-person-fill-check"></i> H10</label> <br>
      <label> <i class="bi bi-person-fill-x"></i> Marcelin</label>
    </div>
  </div> -->

</div>

