<div class="row mt-3 messages-container">
  <div class="col-12" #messagesContainer>
    <div *ngFor="let message of messages">
      <div *ngIf="message.Owner === 'sistema'">
        <div class="col-10">
          <div class="card-sistema-message">
            <app-message-body [message]="message" (onExpandImage)="clicouExpandirImagem()"></app-message-body>
          </div>
        </div>
      </div>
      <div *ngIf="message.Owner === 'receptor'">
        <div class="col-10">
          <div class="card-message">
            <app-message-body [message]="message" (onExpandImage)="clicouExpandirImagem()"></app-message-body>
          </div>
        </div>
      </div>
      <div *ngIf="message.Owner === 'remetente'">
        <div class="col-12 d-flex">
          <div class="col-2">
          </div>
          <div class="col-10">
            <div class="card-owner-message">
              <app-message-body [message]="message" (onExpandImage)="clicouExpandirImagem()"></app-message-body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
