.messages-container {
  max-height: 400px; /* ou a altura desejada */
  overflow-y: auto;
}

.card-sistema-message {
  background-color: rgb(65, 50, 35);
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 25px 25px 25px 0px;
  overflow: hidden;
  word-wrap: break-word;
}

/* barra de roladgem */
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #383838;
  border-radius: 10px;
}

.card-message {
  background-color: rgb(46, 46, 46);
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 25px 25px 25px 0px;
  overflow: hidden;
  word-wrap: break-word;
}

.card-owner-message {
  background-color: rgb(39, 39, 39);
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 25px 25px 0px 25px;
  overflow: hidden;
  word-wrap: break-word;
}

.img-user.expanded {
  width: 50%; /* Faz com que a imagem ocupe 100% da largura do contêiner pai */
  height: auto; /* Mantém a proporção original da imagem */
}
