.icon-user {
  font-size: 15px;
  color: rgb(138, 138, 138);
}

.card-user {
  margin-right: 5px;
}

.img-user-active {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: greenyellow;
  border-style: solid;
  border-width: 3px;
  opacity: 50%;
  margin-bottom: -5px;
}

.img-user-off {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: rgb(255, 47, 47);
  border-style: solid;
  border-width: 3px;
  opacity: 50%;
  margin-bottom: -5px;
}

.bi-person-fill-check {
  color: rgb(35, 190, 35);
}

.bi-person-fill-x {
  color: rgb(255, 60, 34);
}

.name-user {
  font-size: 13px;
  color: rgb(177, 177, 177);
  margin-top: 5px;
}
