.icon-hand {
  width: 300px;
}

.alinha-altura-inicial {
  margin-top: 100px;
}

.label-informativa {
  font-size: 43px;
  font-weight: bold;
  color: rgba(235, 235, 235, 0.616);
  margin-top: 15px;
}

@media (min-width: 576px) {
  .forms-acess {
    display: flex;
  }
}

.forms-acess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.row.mt-5.text-center.mb-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-message {
  background-color: rgb(46, 46, 46);
  color: rgb(168, 168, 168);
  border: none;
  border-radius: 50px;
  height: 50px;
  padding-left: 20px;
  margin-right: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.input-message:focus {
  transition: 0.8s;
  background-color: rgb(27, 27, 27);
}

.input-message:hover {
  transition: 0.8s;
  background-color: rgb(27, 27, 27);
}

.input-message::placeholder {
  color: rgb(119, 119, 119);  /* Substitua com a cor desejada */
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.btn-send {
  background-color: rgb(46, 46, 46);
  color: rgb(180, 180, 180);
  margin-left: 5px;
  border-radius: 50px;
  font-size: 15px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
}

.btn-send:hover {
  transition: 0.8s;
  background-color: rgb(27, 27, 27);
}

.info-owner-site {
  color: rgb(129, 129, 129);
}
