<div class="row mt-3">
  <form [formGroup]="messageForm">
  <div class="col-12 d-flex">
    <div class="col-10 col-md-8">
      <input
        placeholder="Digite aqui e aperte Enter para enviar" name="" id=""
        class="form-control input-message"
        (keydown.enter)="emitMessage()" maxlength="1000"
        [disabled]="disabledSendMessage"
        formControlName="Content" />
    </div>
    <div class="col-1 col-md-4 d-flex">
      <button (click)="emitMessage()" class="btn btn-send" [disabled]="messageForm.invalid"><i class="bi bi-send"></i></button>
      <div class="d-none d-md-block">
        <button (click)="adicionarImagemChat()" class="btn btn-send" ><i class="bi bi-filetype-gif"></i></button>
        <button (click)="adicionarLinkChat()" class="btn btn-send" ><i class="bi bi-link-45deg"></i></button>
        <button (click)="startTalking()" class="btn btn-send" ><i [className]="iconMicro"></i></button>
      </div>
    </div>
  </div>
  </form>
</div>
